# QUES:- LIST AND ITS DEFAULT FUNCTION

In [1]:
lst = ["Dhiraj", 27,12,1997]

In [2]:
print(lst)

['Dhiraj', 27, 12, 1997]

# 1.append

In [3]:
lst = ["Dhiraj",27,12,1997]

In [4]:
lst.append('saloni')

In [5]:
print(lst)

['Dhiraj', 27, 12, 1997, 'saloni']

# 2.len

In [6]:
lst = ["Dhiraj",27,12,1997]

In [7]:
print(len(lst))

4

# 3.pop

In [8]:
lst=["Dhiraj",27,12,1997]

In [10]:
lst.pop(0)
print(lst)

[12, 1997]

# 4.insert

In [112]:
lst=["Dhiraj",27,12,1997]
lst.insert (l,"saloni")
print(lst)

NameError: name 'l' is not defined

In [109]:

print(1st)

SyntaxError: invalid syntax (<ipython-input-109-240fd15c7d12>, line 1)

# 5.max

In [20]:
lst = [27,15,1997]

In [21]:
print(max(lst))

1997

# 6.min

In [23]:
lst =[27,15,1997]

In [24]:
print(min(lst))

15

# 7.extend

In [25]:
lst1 = ["Dhiraj",27,2,1997]

In [26]:
lst2 = ["Saloni",15,2,2000]

In [28]:
lst1.extend(lst2)

In [29]:
print(lst1)

['Dhiraj', 27, 2, 1997, 'Saloni', 15, 2, 2000]

# DICTIONARY

# Que 2.Dictionary and its default function

In [30]:
dict = {"Name":"saloni","Age":23,"Class":'msc'}

In [31]:
print(dict)

{'Name': 'saloni', 'Age': 23, 'Class': 'msc'}

# 1.len

In [32]:
dict = {"Name":"saloni","Age": 18,"class":'Bca'}

In [34]:
print(len(dict))

3

# 2.str(dict)

In [37]:
dict = {"Name":"saloni","age":20,"class":'Bca'}

In [38]:
print(str(dict))

{'Name': 'saloni', 'age': 20, 'class': 'Bca'}

# 3.type

In [39]:
dict = {"Name":"saloni","age":20,"class":'Bca'}

In [40]:
print(type(dict))

<class 'dict'>

# 4.any

In [42]:
dict = {"Name":"saloni","age":20,"class":'Bca'}

In [43]:
print(any(dict))

True

# 5.all

In [44]:
dict = {"Name":"saloni","age":20,"class":'Bca'}

In [45]:
print(all(dict))

True

# 6.sorted

In [46]:
dict = {"Name":"saloni","age":20,"class":"Bca"}

In [47]:
print(sorted(dict))

['Name', 'age', 'class']

# 7.get

In [48]:
dict = {"Name":"saloni","age":20,"class":"Bca"}

In [50]:
print(dict.get("Name"))

saloni

# SETS

# QUE: Sets and its default function

In [52]:
st = {"Dhiraj","saloni",8,10,2000}

In [53]:
print(st)

{'saloni', 8, 10, 'Dhiraj', 2000}

# 1.intersection

In [54]:
st1 = {"Dhiaj",'saloni',8,10,2000}

In [56]:
st2 ={27,12,1997,'Vaishali',"Mona"}

In [58]:
print(st1.intersection(st2))

set()

# 2.issubset

In [59]:
st1= {"Dhiaj", "saloni",8,10,2000}

In [62]:
st2 = {'vaishali',2000}

In [65]:
print(st1.issubset(st2))

False

# 3.union

In [66]:
st1 = {"Dhiraj",8,10,2000}

In [67]:
st2 = {"Saloni",22,5,2000}

In [69]:
print(st1.union(st2))

{'saloni', 5, 8, 10, 'Dhiraj', 2000, 22, 'Saloni'}

# 4.remove

In [70]:
st = {"Dhiraj",8,10,2000}

In [71]:
st.remove("Dhiraj")

In [72]:
print(st)

{8, 10, 2000}

# 5.update

In [73]:
st1 = {"Dhiraj",8,10,2000}

In [74]:
st2 = {"saloni",1}

In [75]:
st1.update(st2)

In [76]:
print(st1)

{2000, 'saloni', 1, 8, 10, 'Dhiraj'}

# TUPLE

# Que 4 Tuple and explore default methods

In [78]:
tup = ("Dhiraj","saloni",27,12,2000)

In [79]:
print(tup)

('Dhiraj', 'saloni', 27, 12, 2000)

# 1.count

In [80]:
tup = ("Dhiraj","saloni","vaishali",7,12,1000)

In [81]:
print(tup.count("Dhiraj"))

1

# 2. index

In [83]:
tup = ("Dhiraj","saloni",8,5,2000)

In [84]:
print(tup.index(5))

3

# 3.len

In [85]:
tup = ("Dhiraj",8,5,2000)

In [86]:
print(len(tup))

4

# 4.Max

In [88]:
tup = (11,27,41,2000)

In [89]:
print(max(tup))

2000

# 5,Min

In [90]:
tup = (11,10,9,8)

In [91]:
print(min(tup))

8

# STRING

# Que string and explore its default methods

In [92]:
str = "hello, i m Dhiraj"

In [93]:
print(str)

hello, i m Dhiraj

# 1, capitialize

In [94]:
str = "hello ,i am saloni"

In [95]:
print(str.capitalize())

Hello ,i am saloni

# 2.index

In [96]:
str = "hello , i am Dhiraj"

In [97]:
print(str.index("Dhiraj"))

13

# 3.lower

In [99]:
str = "hello , i am vaishali"

In [100]:
print(str.lower())

hello , i am vaishali

# 4.title

In [101]:
str = "hello,i m Dhiraj"

In [102]:
print(str.title())

Hello,I M Dhiraj

# 5.center

In [103]:
str = "hello , i am Dhiraj"

In [105]:
print(str.center(40))

          hello , i am Dhiraj